/**
 *
 * WeekPlanListContainer.scss 文件作用
 * @author hurong<353486474@QQ.COM>
 * @date 2017/9/24
 *
 * @内容 作用
 * @内容 作用 
 */
@import '../../asset/styles/mixins/ncse_mixins';
.WeekPlanContainer{
  @include content-box();
  display: flex;
  flex-direction: row;
  .treeList{
    width: 120px;
    flex:none;
  }
  .chart{
    flex:auto;
    overflow: hidden;
  }
}