/**
 *
 * LoginComp.scss 文件作用
 * @author hurong<353486474@QQ.COM>
 * @date 2017/10/14
 *
 * @内容 作用
 * @内容 作用
 */
@mixin Login__ColorBG($degree,$height){
  transform: skewY($degree);
  background-image: linear-gradient(-89deg, #EA785A 0%, #EE8768 30%, #EE9F7A 70%);
  height: $height;
  width: 100%;
  position: absolute;
  transform-origin: 0;
  top: 0;
}
.Login__Container::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(27.5% - 20px);
  width: 40px;
  height: calc(20% + 32px);
  background: rgba(255,255,255,0.8);
}
.LoginFormContainer {
  position: absolute;
  width: 35%;
  height: 45%;
  top: 20%;
  left: 10%;
  padding: 30px 0 40px 0;
  background-color: rgba(255,255,255,0.3);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6) inset, 0 0 30px rgba(255, 255, 255, 0.6);
}
.LoginForm__Deco {
  width: 60px;
  height: 4px;
  border-radius: 2px 2px;
  background: rgba(128, 128, 128, 0.6);

}
.LoginForm__Username, .LoginForm__Password {
  width: 80%;
  height: 25%;
  background: rgba(255,255,255,0.6);
  display: flex;
  border-radius: 40px 40px;
  padding: 0 20px;
}
.LoginForm__Username .UsernameIcon {
  width: 15%;
  margin: 15px;
  background: url('../../asset/imgs/user2.png') no-repeat;
  background-size: contain;
}
.LoginForm__Password .PasswordIcon {
  width: 15%;
  margin: 15px;
  background: url('../../asset/imgs/password.png') no-repeat;
  background-size: contain;
}
.LoginForm__Username input, .LoginForm__Password input {
  height: 100%;
  flex: 1;
  background: transparent;
  border: none;
  font-size: 2.5vh;
  outline: none;
}
.LoginForm__LoginButton {
  width: 80%;
  height: 25%;
}
.LoginForm__LoginButton button {
  width: 100%;
  height: 100%;
  background: rgba(246,123,85,1);
  border-radius: 40px 40px;
  border: none;
  color: white;
  font-size: 3vh;
  outline: none;
  transition: box-shadow 0.7s, background 0.7s;
}
.LoginForm__LoginButton button:hover {
  cursor: pointer;
  background: rgba(248, 146, 114, 1);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
  transition: box-shadow 0.7s, background 0.7s;
}
.LoginFormContainer_box{
  width: 100%;
  height: 100%;
}
.Login__Container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  &::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: 50;
    background-image: url('../../asset/imgs/ElCapitan.jpg');
  }
  .Login__ColorBG--orange{
    @include Login__ColorBG(-9deg,100%)
  }
  @media (min-width: 991px) {
    .Login__ColorBG--orange{
      @include Login__ColorBG(-29deg,1020px)
    }

  }

  .Login__LowerColorBG--Gray{

  }
  @media (max-width: 991px) {
    img{
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-xl-up{
      display: none !important;
    }
  }
  .illustrations{
    position:relative;top:-603px;right:-512px;
    z-index:200;
  }
  @media (min-width: 1200px) and (max-width: 1299px)
  {.illustrations,.illustrations{
    right:-533px;top:-744px;
  }}
  @media (min-width: 1300px) and (max-width: 1439px)
  {.illustrations,.illustrations{
    right:-601px;top:-782px
  }}
  @media (min-width: 90em){
    .illustrations,.illustrations{
      top:-761px;right:-622px}}
  @media (min-width: 105em){
    .illustrations,.illustrations{
      top:-665px;right:-640px}}
}

